---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="InfoTech">
  <main>
    <h1>Bienvenidos a <span class="text-gradient">InfoRetos</span></h1>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/ItsSammyxD/RetosInformaticos/blob/main/Reto%20%230%20-%20El%20FAMOSO%20'FIZZ%20BUZZ'/Enunciado.md"
        title="Reto 0#: El Desafío FIZZ BUZZ"
        body="Demuestra tus habilidades de programación resolviendo el famoso 'Fizz Buzz'."
      />

      <Card
        href="https://github.com/ItsSammyxD/RetosInformaticos/blob/c81b7f3587499c2193c457d594f5c60a975621b5/Reto%20%231%20-%20Suma%20de%20Numeros%20Pares/Enunciado.md"
        title="Reto 1#: Suma de Números Pares"
        body="¿Te Consideras un Buen Matemático? ¡Demuéstralo Aquí! 🧮"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
