---

---

<header>
  <nav class="navbar">
    <div class="logo">InfoRetos</div>
    <!-- <div class="actions">
      <a href="#" class="button">Retos</a>
    </div> -->
  </nav>
</header>

<style>
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    color: white;
  }

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 1em;
  }

  .button {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
</style>
